@import "../../../../styles/base/_variables";

/deep/ {
  .top-nav {
    background-color: $nav-bar-bg;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.22);
    margin-bottom: 20px;

    .container {
      padding: 15px;
    }

    .logo {
      display: inline-block;

      a {
        font-family: $Roboto;
        font-weight: 300;
        font-size: 30px;
        color: white;
      }
    }

    .login {
      color: $white-color;
    }

    .nav-menu {
      text-align: right;

      .nav-menu-trigger {
        color: $white-color;
        font-weight: normal;
        margin-right: 5px;

        .employee-thumb {
          top: 2px;
          left: -25px;
        }

        &:after {
          content: '\e5c5';
          font-family: $MaterialIcons;
          font-size: 20px;
          position: absolute;
          top: 0px;
          right: -6px;
        }
      }
    }
  }

  @media #{$gt-xs} {
    .top-nav {

    }
  }

  @media #{$gt-sm} {
    .top-nav {

    }
  }

  @media #{$gt-md} {
    .top-nav {

    }
  }
}
